@import "../../public/sass/variable";


.header {
  position           : relative;
  z-index            : 1;
  width              : 100%;
  // background         : linear-gradient(to right, $color_base, rgb(216, 216, 216));
  height             : 60px;
  padding            : 0 20px;
  display            : flex;
  justify-content    : space-between;
  align-items        : center;
  
  // border-bottom   : 1px solid $color_border;
  // box-shadow      : 0 0 8px 0 rgba(0,0,0,.3);

  .triagle-up {
    position     : absolute;
    bottom       : -1px;
    z-index      : 1;
    width        : 0;
    height       : 0;
    border-left  : 12px solid transparent;
    border-right : 12px solid transparent;
    border-bottom: 12px solid #ffffff;
  }

  .triagle-shadow {
    position     : absolute;
    bottom       : 0px;
    bottom       : -1px;
    z-index      : 0;
    width        : 0;
    height       : 0;
    border-left  : 12px solid transparent;
    border-right : 12px solid transparent;
    border-bottom: 12px solid #252525;
  }

  .search_box_container {
    position: absolute;
    left    : 25%;
  }

  .logo {
    position: relative;
    top     : -2px;
    width   : 40px;
    height  : 40px;
  }

  .directPage {
    // position   : absolute;
    // left       : 7%;
    font-weight: 550;
    font-size          : 0.93rem;

    a {
      color              : rgb(255, 255, 255);
      height             : 100%;
      padding            : 20px;
      font-size          : 0.93rem;
      font-weight        : 400;
      font-family: $font_base;
      text-decoration: none;
      // background-color: rgb(214, 214, 214);

      &:hover {
        background-color: rgba(184, 216, 255, 0.367);
        border-bottom   : solid rgb(226, 226, 226) 1px;

        // color        : rgba(255, 255, 255, 0.639);
      }
    }
    i {
      margin-right: 5px;
    }
    svg[data-icon="bank"]{
      margin-bottom: 0.5px;
    }
    svg[data-icon="apple"]{
      margin-bottom: 0.65px;
    }
  }

  // Function Link
  .function {
    display: flex;
    width  : auto;
    height : 100%;
    margin : 0px;

    // MenuProfile
    .label-function {
      padding    : 5px 12px;
      font-size  : 20px;
      position   : relative;
      width      : auto;
      color      : white;
      margin: 10px 0;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        // background-color: #00000014;
        background-color: rgba(184, 216, 255, 0.367);
      }
      a {
        color: white;
        
      }

      i {
        font-size: 16.5px;
        
        // :hover {
        //   color: #f2f2f2;
        // }
      }
      svg[data-icon="bell"]{
        margin-bottom: 0.65px;
      }
      .label_name {
        color      : white;
        height     : 100%;
        font-size  : 0.93rem;
        font-weight: 450;
        padding    : 0px 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    //choosed noti
    .ant-popover-open{
      background-color: rgba(184, 216, 255, 0.367);
    }

    #borderLeft {
      border-left: 2px solid gray;
      position   : absolute;
      height     : 30px;
      top        : 15px;
      right      : 0px;
    }

    // Login Logout Register
    .labelLogin {
      font-size: 15px;
      // padding  : 0px 10px;

      a {
        color: #ffffff;
        font-weight        : 400;
        font-family: $font_base;
        border-radius: 5px;
        &:hover {
          // color          : #f2f2f2;
          background-color: rgba(184, 216, 255, 0.367);
          // text-decoration: underline;
        }

        line-height: 60px;
        padding: 8px;
        margin: 5px 5px 0;
        font-size  : 0.9pc;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  #profile-function {
    display: none;
  }

  .function {
    margin-right: 60px;
  }
}
.ant-badge-multiple-words{
  padding: 0px 2px 0 0px
}
.ant-popover-inner{
  margin-right: 20px !important;
}
.wapper-education {
  background-color: rgba(184, 216, 255, 0.2);
}

// MenuProfile
.label-function {
  padding    : 5px 12px;
  font-size  : 20px;
  position   : relative;
  width      : auto;
  color      : white;
  margin: 10px 0;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    // background-color: #00000014;
    background-color: rgba(184, 216, 255, 0.367);
  }
  a {
    color: white;
    
  }

  i {
    font-size: 16.5px;
    
    // :hover {
    //   color: #f2f2f2;
    // }
  }
  svg[data-icon="bell"]{
    margin-bottom: 0.65px;
  }
  .label_name {
    color      : white;
    height     : 100%;
    font-size  : 0.93rem;
    font-weight: 450;
    padding    : 0px 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}