.banner {
    position: relative;
    .imageBanner {
      width: 100%;
      height: auto;
    }
  
    .info-in-banner {
      display: flex;
      transition: width 2s;
      position: absolute;
      top: 70%;
      left: 65%;
      height: 110px;
      width: 30%;
      background-color: rgba(0, 0, 0, 0.2);
  
      @media (min-width: 0px) and (max-width: 500px) {
        top: 40%;
        width: 25%;
        height: 105px;
      }
      a {
        .banner-logo {
          background-color: white;
          display: inline;
          width: 80px;
          height: 80px;
          padding: 10px;
          margin: 15px 0px 0 10px;
          vertical-align: middle;
          object-fit: cover;
          object-position: center;
        }
        .text-banner {
          margin-top: 10px;
          margin-left: 15px;
          color: white;
          font-size: 0.8rem;
          font-weight: bold;
          text-transform: uppercase;
          max-lines: 2;
          @media (min-width: 0px) and (max-width: 500px) {
            display: none;
          }
        }
        .info {
          color: white;
          margin-left: 15px;
          font-size: 0.55rem;
          text-transform: uppercase;
          text-overflow: ellipsis;
          overflow: hidden;
          @media (min-width: 0px) and (max-width: 500px) {
            display: none;
          }
        }
      }
    }
  }
  .search-body-event {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  
  @media only screen and (min-width: 812px){
  .school-description{
    position: absolute;
    height: 99%;
    width: 30%;
    background-color: black;
    top: 0;
    left: 70%;
    opacity: 0.6;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
  }
  }
  
  @media only screen and (max-width: 810px) {
    .school-description {
      font-size: 20px;
      padding: 10px;
      -webkit-line-clamp: 5;
      white-space: pre-wrap;
      overflow: hidden;
      height: 96.5%;
      top: -5px;
      position: relative;
      width: 100%;
      left: 0;
      background-color:aliceblue;
      color: black;
    }
  }
  // @media only screen and (min-width: 427px) {
  //   .school-description {
  //     font-size: 5px;
  //     padding: 10px;
  //     -webkit-line-clamp: 5;
  //     white-space: pre-wrap;
  //     overflow: hidden;
  //     height: 98.5%;
  //   }
  // }
  @media only screen and (max-width: 425px) {
    .buttonPlayGame {
      height: 35px;
    }
    .wapperButtonPlayGame {
      padding: 20px 5px;
      right: 0;
      top: 0;
      position: absolute;
      cursor: pointer;
    }
  }
  @media only screen and (min-width: 425px) {
    .buttonPlayGame {
      height: 40px;
    }
    .wapperButtonPlayGame {
      padding: 25px 10px;
      right: 0;
      top: 0;
      position: absolute;
      cursor: pointer;
    }
  }
  @media only screen and (min-width: 600px) {
    .buttonPlayGame {
      height: 65px;
      cursor: pointer;
    }
    .wapperButtonPlayGame {
      padding: 50px 20px;
      right: 0;
      top: 0;
      position: absolute;
      
    }
  }
  @media only screen and (min-width: 992px) {
    .buttonPlayGame {
      height: 80px;
      cursor: pointer;
    }
    .wapperButtonPlayGame {
      padding: 90px;
      right: 0;
      top: 0;
      position: absolute;
      
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .buttonPlayGame {
      height: 100px;
      cursor: pointer;
    }
    .wapperButtonPlayGame {
      padding: 100px;
      right: 0;
      top: 0;
      position: absolute;
      
    }
  }
  @media only screen and (min-width: 2560px) {
    .buttonPlayGame {
      height: 200px;
      cursor: pointer;
    }
    .wapperButtonPlayGame {
      padding: 110px;
      right: 0;
      top: 0;
      position: absolute;
      
    }
  }