@import "../../public/sass/variable";

.homeJob {
  font-family: $font_base;
  background-color: #f2f2f2;
  padding: 10px;

  h4 {
    margin: 10px 0 !important;
    text-align: center;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .hJItemTop {
    &:hover {
      background-color: #e1ecf4;
      cursor: pointer;
    }
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 110px !important;
    border-radius: 5px;
    background-color: white;

    .imgJob {
      text-align: center;
      width: 88px;
      padding: 8px;

      img {
        width: 72px;
        height: 72px;
        border-radius: 8px;
        border: 1px solid $color_border;
        object-fit: contain;
      }
    }

    a {
      color: #5d5d5d;

      &:hover {
        color: #168ecd;
      }
    }

    .region {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary {
      text-align: left;
      font-size: 0.8rem;
    }

    .salaryLabel {
      color: red;
    }

    .topBadge {
      text-transform: uppercase;
      color: white;
      background-color: red;
      border-radius: 3px;
      padding-right: 4px;
      padding-left: 4px
    }

    &:hover {
      transition: 0.5s;
    }

    .jobContent {
      width: 100%;
      padding-top: 8px;
      padding-right: 8px;
      ul {
        list-style: none;
        padding: 3px;
        li {
          h6 {
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
      a {
        text-transform: lowercase;
      }
      h6 {
        font-size: 0.95em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      
        .aNameEmployer {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-transform: initial;
          font-size: 0.8em;
        }
      

      .jD {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
        .lC {
          margin-top: 3px;
          // height: 39px;
          line-height: 20px;
          text-align: left;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-transform: initial;
          
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
.marquee {
   /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  // border:1px solid #ccc;
  // margin-top: 10px
}


// .top-rm {
//   font-family: $font_base;
//   background-color: white;
//   margin: 15px 15px 0 15px;
  
  
//   // box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.1);
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
//   text-align: center;
//   padding: 10px;
  
//   h5 {
//     margin-top: 10px;
//     padding: 20px 0 10px;
//     font-size: 1.5rem;
//   }
  
  
// }
.h-j-item {
  background-color: #F9FBFF;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
  
  &:hover {
    background-color: #E1ECF4;
  }
  .image-employer {
    height: 110px;
    width: 100%;
    border-radius: 7px;
    object-fit: contain;
  }
  .img-job {
    img {
      height: 70px;
      width: 70px;
      border-radius: 17px;
      
    }
  }
  .job-content {
    max-height: 80px;
    width: 100% -70px;
    padding: 0px 10px;
    
    a {
      text-transform: lowercase;
    }

    a::first-letter {
      text-transform: uppercase;
    }

    li {
      padding: 5px 2px;
      font-size: 0.8rem;
    }
  }
}
.job-content {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: initial;
    font-size: 1em;
    margin: 10px
  }
}