body{
    margin: 0;
}

.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a  {
    color: #000
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 10px 12px;
  }
  .ant-menu-item:hover {
    background-color: #e6f7ff !important;
  }
  .ant-menu-item a {
    color: #000000de !important;
    &:hover {
      color: #000000de !important;
    }
  }
  .ant-menu-item-selected {
    background: #fff !important;
  }

  // desktop
@media only screen and (min-width: 1061px) {
    .hidden-mobile {
        display: block;
    }
}
@media (min-width: 0px) and (max-width: 961px) {
    .hidden-mobile {
      display: none;
    }
}

.ant-skeleton {
    width: 80%;
    margin: 0 auto;
  }
  .ant-carousel {
    .slick-dots {
      display: block;
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      margin: 20px 0px;
      padding: 0;
      margin-left: 0 !important;
      text-align: center;
      list-style: none;
      li {
        button {
          height: 15px !important;
          width: 15px;
          border-radius: 50% !important;
          margin: 0 5px;
          background-color: unset !important;
          border: solid 2px #fff !important;
          opacity: 0.9;
        }
        width: 15px !important;
        margin-left: 7px !important;
      }
      li.slick-active {
        button {
          width: 15px !important;
          background-color: #fff !important;
        }
      }
      // button
    }
  }
  .marquee {
    width: 300px; /* the plugin works for responsive layouts so width is not necessary */
    overflow: hidden;
    border:1px solid #ccc;
  }